In [1]:
#Ali Ahmadi

In [2]:
#Question1-a
for x in range(1,101):
    if x%15 == 0:   
       print("Hello World")
       continue
    elif x%3 == 0:
       print("Hello")
       continue
    elif x%5 == 0:   
       print("World")
       continue
    print(x)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
Hello World
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
Hello World
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
Hello World
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
Hello World
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
Hello World
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
Hello World
91
92
Hello
94
World
Hello
97
98
Hello
World

In [3]:
#Question2
def my_function(number1,number2):
    number3= number1 
    number1= number2
    number2= number3
    print("number1 =", number1)
    print("number2 =", number2)
    
number1 = input("ENTER number 1 PLEASE: ")
number2 = input("ENTER number 2 PLEASE: ")
my_function(number1,number2)

ENTER number 1 PLEASE: 5
ENTER number 2 PLEASE: 6
number1 = 6
number2 = 5

In [4]:
#Question3
import math
def distance (p0, p1):
    return math.sqrt((p0[0] - p1[0])**2 + (p0[1] - p1[1])**2)
    
p0=(3,0)
p1=(0,4)
print(distance(p0,p1))

5.0

In [5]:
#Question4
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
frc = {}
for i in s:
    if i in frc:
        frc[i] += 1
    else:
        frc[i] = 1
print ( str(frc))

{'W': 3, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 9, 'n': 10, 's': 7, 'u': 7, 'b': 4, 'f': 9, '1': 2, '0': 2, '.': 3, 'B': 1, 'l': 12, 'H': 2, 'd': 5, 'v': 2, 'F': 1, 'w': 1, 'c': 1}

In [6]:
#Question5
V=[]
a=0
k=0
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
for i in l:
    k+=1
    if i not in V:
        V.append(i)
        a+=1
print("Number of unique items: ",a)
print("List of Unique numbers: ",V)
print("Number of All items: ",k)

Number of unique items:  54
List of Unique numbers:  [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
Number of All items:  80

In [7]:
#Question6
import math
def sq (n):
    m=n*n
    return m
def cu (n):
    v=3
    j = math.pow(n,v)
    return j
n=5

print(sq (n))
print(cu (n))
print(sq(cu(n)))

25
125.0
15625.0

In [8]:
#Question7a
l=[]
for i in range(0,10):
    i=i**3
    l.append(i)
print(l)    
#Question7b
k=[i**3 for i in range(10)]
print(k)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [9]:
#Question8
l=()
for a in range(1,101):
    for b in range (1,101):
        for c in range(1,101):
            if (a**2)==(b**2)+(c**2):
                    l=l+((a,b,c),)
                           
print(l)

((5, 3, 4), (5, 4, 3), (10, 6, 8), (10, 8, 6), (13, 5, 12), (13, 12, 5), (15, 9, 12), (15, 12, 9), (17, 8, 15), (17, 15, 8), (20, 12, 16), (20, 16, 12), (25, 7, 24), (25, 15, 20), (25, 20, 15), (25, 24, 7), (26, 10, 24), (26, 24, 10), (29, 20, 21), (29, 21, 20), (30, 18, 24), (30, 24, 18), (34, 16, 30), (34, 30, 16), (35, 21, 28), (35, 28, 21), (37, 12, 35), (37, 35, 12), (39, 15, 36), (39, 36, 15), (40, 24, 32), (40, 32, 24), (41, 9, 40), (41, 40, 9), (45, 27, 36), (45, 36, 27), (50, 14, 48), (50, 30, 40), (50, 40, 30), (50, 48, 14), (51, 24, 45), (51, 45, 24), (52, 20, 48), (52, 48, 20), (53, 28, 45), (53, 45, 28), (55, 33, 44), (55, 44, 33), (58, 40, 42), (58, 42, 40), (60, 36, 48), (60, 48, 36), (61, 11, 60), (61, 60, 11), (65, 16, 63), (65, 25, 60), (65, 33, 56), (65, 39, 52), (65, 52, 39), (65, 56, 33), (65, 60, 25), (65, 63, 16), (68, 32, 60), (68, 60, 32), (70, 42, 56), (70, 56, 42), (73, 48, 55), (73, 55, 48), (74, 24, 70), (74, 70, 24), (75, 21, 72), (75, 45, 60), (75, 60, 45), (75, 72, 21), (78, 30, 72), (78, 72, 30), (80, 48, 64), (80, 64, 48), (82, 18, 80), (82, 80, 18), (85, 13, 84), (85, 36, 77), (85, 40, 75), (85, 51, 68), (85, 68, 51), (85, 75, 40), (85, 77, 36), (85, 84, 13), (87, 60, 63), (87, 63, 60), (89, 39, 80), (89, 80, 39), (90, 54, 72), (90, 72, 54), (91, 35, 84), (91, 84, 35), (95, 57, 76), (95, 76, 57), (97, 65, 72), (97, 72, 65), (100, 28, 96), (100, 60, 80), (100, 80, 60), (100, 96, 28))

In [10]:
#Question9
a = [2,4,10,6,8,4]
amin, amax = min(a), max(a)
for i, val in enumerate(a):
    if a[i]
    a[i] = (val-amin) / (amax-amin)
print(a)

SyntaxError: invalid syntax (<ipython-input-10-a4fa50124db2>, line 5)